/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

/**
* This is the same as rave.css used for the website.
*/ 

body {
  color: white;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12pt;
  background: url(../images/rave_bg.jpg) no-repeat top right;
  margin: 0;
}

#banner {
  padding: 0 0 10px 10px;
}

a {
  color: #107EC0;
}

a:visited {
 color: #107EC0;
}

a:hover {
 color: #107EC0;
 background-color: #e6ebed;
}

a img { border: none; }

h1,h2,h3,h4,h5,h6 {
  color: #193240;
  text-transform:uppercase;
}

#content {
  margin: 20px 150px 20px 250px;
  padding: 0 8px 40px;
  color: #333;
}

#content h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 10px 0 15px;
  padding: 5px 0;
}

#content h1 {
  font-size: 1.4em;
  padding: 15px;
}

#content h2 {
  font-size: 1.2em;
  margin-top: 2em;
  border-bottom: 1px solid #a3afb6;
}

#content h3,h4,h5,h6 {
  border-bottom: none;
  font-size: 1em;
  margin-bottom: 0;
}

.codehilite {
  background-color: #F00;
  padding: 0.01em 1em;
  border-radius: 10px;
  background: url(../images/rave_codehilite_bg.gif);
}

.widget-wrapper {
    vertical-align: top;
}

.widget-title-bar {
    border: #777 solid 1px;
    color: #333;
}

.widget {
    border: #777 solid 1px;
    padding: 2px;
}

#navigation {
  border: 1px solid #e6ebed;
  border-left: none;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  font-size: 0.9em;
  color: #003;
  float: left;
  padding: 15px 15px 5px 25px;
  width: 180px;
  background: none repeat scroll 0 0 #f5f8fa;
  margin: 20px 0 20px 0;
}

#navigation img {
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#navigation h1 {
  color: #000;
  font-size: 1em;
  padding: 0;
  margin-top: 0.8em;
  margin-bottom: 0;
  border-bottom: 1px solid #a3afb6;
}

#navigation ul {
  margin: 0 0;
  padding: 0;
  list-style: none;
}

#navigation li {
  border-bottom: 1px solid #e6ebed; 
  margin: 0.2em 0;
  padding: 0;
}

#navigation li a {
  margin: 0;
  text-decoration:none;
}

#navigation li a:hover {
  color: #193240;
  background: none;
}

#footer {
  margin: 20px 150px 20px 250px;
  border-top: 1px solid #ccc;
  color:#666;
  font-size: 0.8em;
  padding: 0 8px;
  text-align: center;
}

#asf-logo {
  width: 180px;
  padding-top: 20px;
}

/* definition lists */
dd {}
dl {}
dt {
  display: inline;
  float: left;
}