<div class="navbar navbar-inverse navbar-fixed-top">
    <div ng-controller="NavBarCtrl" class="navbar-inner">
        <div class="container-fluid">

            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <span class="brand">RAVE</span>

            <div class="nav-collapse">
                <ul class="nav pull-right">

                    <li ng-show="user.username"><a ng-href="{{ hostedPath }}/app/person/id/{{user.id}}">Profile</a></li>
                    <li ng-show="user.username"><a ng-href="{{ hostedPath }}/app/store">Store</a></li>
                    <li ng-show="user.admin"><a ng-href="{{ hostedPath }}/app/admin">Admin</a></li>

                    <li ng-show="user.username"><a ng-click="logout()" href="#">Logout</a></li>
                    <li ng-hide="user.username"><a ng-click="login()" href="#">Login/Register</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
