<div>
  <a ui-sref="portal.admin.categories">« Back to Categories</a>
  <h2>Category – "{{ category.text }}"</h2>
  <div class="well">
    <form>
      <label for="text">Name: </label>
      <input id="text" name="text" type="text" ng-model="text">
      <br><br>
      <button class="btn btn-primary" ng-click="onSave()" ng-disabled="!isUpdated()">Save</button>
      <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-modal">Delete</button>
    </form>
  </div>  
  <div id="confirm-modal" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body">
      <div class="alert alert-danger">
        Are you sure you want to delete the category "<b>{{ category.text }}</b>"? This cannot be undone.
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-danger" ng-click="onDelete()">Delete Category</button>
    </div>
  </div>
</div>
      
