<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  
  $Id$
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <context:component-scan base-package="org.apache.rave" annotation-config="true" />

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- Bean that executes the given set of resources (SQL scripts) in order
         To remove runtime initialization of initial data, remove this bean and change teh entity manager factory to the default
         Spring implementation
    -->
    <bean id="dataSourcePopulator" class="org.apache.rave.jdbc.util.DataSourcePopulator">
        <property name="executeScriptQuery" value="SELECT * FROM WIDGETS"/>
        <property name="scriptLocations">
            <list>
                <value>classpath:initial_data.sql</value>
            </list>
        </property>
    </bean>

    <bean id="entityManagerFactory"
          class="org.apache.rave.orm.jpa.PopulatedLocalContainerEntityManagerFactory">
        <property name="populator" ref="dataSourcePopulator" />
        <property name="persistenceUnitName" value="ravePersistenceUnit"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.OpenJpaVendorAdapter">
                <property name="showSql" value="true" />
            </bean>
        </property>
        <property name="jpaPropertyMap">
            <map>
                <entry key="openjpa.Log" value="DefaultLevel=WARN, Runtime=INFO, Tool=INFO, SQL=TRACE"/>
                <entry key="openjpa.RuntimeUnenhancedClasses" value="unsupported"/>
                <entry key="openjpa.jdbc.SynchronizeMappings" value="buildSchema(ForeignKeys=true)"/>
            </map>
        </property>
    </bean>

    <!-- A RestTemplate instance that can be used to call a web service which expects Content-Type and Accept headers of
    application/json with a pre-built string of JSON data. -->
    <bean id="jsonStringCompatibleRestTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <util:constant static-field="org.springframework.http.MediaType.APPLICATION_JSON"/>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <!-- Environment variables for opensocial calls from the portal -->
    <bean id="openSocialEnvironment" class="org.apache.rave.provider.opensocial.config.OpenSocialEnvironment">
        <property name="engineProtocol" value="${portal.opensocial_engine.protocol}"/>
        <property name="engineRoot" value="${portal.opensocial_engine.root}"/>
        <property name="engineGadgetPath" value="${portal.opensocial_engine.gadget_path}"/>
    </bean>
	 <bean id="newAccountValidator" class="org.apache.rave.portal.web.validator.NewAccountValidator"/>
</beans>