<div class="row-fluid" ng-controller="forgotPasswordController">
  <a ui-sref="portal.login">« Return to Login</a>
  <h1>Request new password</h1>
  <form id="user" name="requestPasswordForm" class="form-horizontal well" ng-submit="submit(email)" ng-if="!success">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="email">Email address:</label>
        <div class="controls">
          <input type="email" name="email" id="email" autofocus="autofocus" ng-model="email" required>
          <div ng-show="submitted && requestPasswordForm.email.$error.required">
            An email is required.
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <button class="btn btn-primary" ng-click="submitted=true">
        Request new password
      </button>
      <div ng-show="invalid">
        No user with that email exists.
      </div>
    </fieldset>
  </form>
  <div ng-if="success">
    An email was sent to {{ email }} with instructions on how to reset your password.
  </div>

</div>
