<div class="row-fluid" ng-controller="forgotPasswordController">
  <div class="span10 offset1">
    <a ui-sref="portal.login">« Return to Login</a>
    <h1>Request new password</h1>
    <form name="requestPasswordForm" class="form-horizontal well forgot-password-form" ng-submit="submit(email)" ng-if="!success">
      <fieldset>
        <div class="control-group" ng-class="{error: submitted && requestPasswordForm.email.$error.required}">
          <label class="control-label" for="email">Email address:</label>
          <div class="controls">
            <input type="email" name="email" id="email" autofocus="autofocus" ng-model="email" required>
            <span class="help-inline" ng-show="submitted && requestPasswordForm.email.$error.required">
              An email is required.
            </span>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="control-group" ng-class="{error: invalid}">
          <button class="btn btn-primary" ng-click="submitted=true">
            Request new password
          </button>
          <span class="help-inline" ng-show="invalid">
            No user with that email exists.
          </span>
        </div>
      </fieldset>
    </form>
    <div ng-if="success" class="alert alert-success">
      An email was sent to {{ email }} with instructions on how to reset your password.
    </div>
  </div>
</div>
