<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  -->

<!--
	This security file uses the default spring simple form login
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">
    <security:http auto-config="true" use-expressions="true" disable-url-rewriting="true" request-matcher="regex">
        <security:intercept-url pattern="\A/static(\?.*|/.*)\Z" access="permitAll"/>
        <security:intercept-url pattern="\A/login\Z" access="permitAll"/>
        <security:intercept-url pattern="\A/app/newaccount\.jsp(\?.*)?\Z" access="permitAll"/>
        <security:intercept-url pattern="\A/app/newaccount(\?.*|/.*)?\Z" access="permitAll"/>
        <security:intercept-url pattern="\A/app/openidregister(\?.*|/.*)?\Z" access="permitAll"/>
        <security:intercept-url pattern="\A/app/newpassword(\?.*|/.*)?\Z" access="permitAll"/>
        <security:intercept-url pattern="\A/app/retrieveusername(\?.*|/.*)?\Z" access="permitAll"/>
        <security:intercept-url pattern="\A/app/changepassword(\?.*|/.*)?\Z" access="permitAll"/>
        <security:intercept-url pattern="\A/app/messagebundle/.*\.js\Z" access="permitAll"/>
        <security:intercept-url pattern="\A/app/admin(\?.*|/.*)\Z" access="hasRole('ROLE_ADMIN')"/>
        <!-- all urls must be authenticated -->
        <security:intercept-url pattern="\A/.*\Z" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>
        <security:openid-login user-service-ref="userService" authentication-failure-handler-ref="openIdAuthFailureHandler">
            <security:attribute-exchange identifier-match="https://www.google.com.*">
                <security:openid-attribute name="email" type="http://axschema.org/contact/email" required="true" count="1"/>
                <security:openid-attribute name="firstname" type="http://axschema.org/namePerson/first" required="true"/>
                <security:openid-attribute name="lastname" type="http://axschema.org/namePerson/last" required="true"/>
            </security:attribute-exchange>
            <security:attribute-exchange identifier-match=".*openid-provider.appspot.com.*">
                <security:openid-attribute name="email" type="http://axschema.org/contact/email" required="true" count="1"/>
                <security:openid-attribute name="firstname" type="http://axschema.org/namePerson/first" required="true"/>
                <security:openid-attribute name="lastname" type="http://axschema.org/namePerson/last" required="true"/>
            </security:attribute-exchange>
            <security:attribute-exchange identifier-match=".*yahoo.com.*">
                <security:openid-attribute name="email" type="http://axschema.org/contact/email" required="true"/>
                <security:openid-attribute name="fullname" type="http://axschema.org/namePerson" required="true"/>
            </security:attribute-exchange>
            <security:attribute-exchange identifier-match=".*myopenid.com.*">
                <security:openid-attribute name="email" type="http://schema.openid.net/contact/email" required="true" count="1"/>
                <security:openid-attribute name="fullname" type="http://schema.openid.net/namePerson" required="true"/>
             </security:attribute-exchange>
        </security:openid-login>
        <security:form-login login-page="/login" default-target-url="/" authentication-failure-url="/login?authfail=form" />
        <security:logout/>
        <security:remember-me user-service-ref="userService" />
    </security:http>

    <security:ldap-server ldif="classpath:users.ldiff" root="dc=rave,dc=apache,dc=org" />

    <security:authentication-manager>
        <security:ldap-authentication-provider
                group-search-filter="member={0}"
                group-search-base="ou=groups"
                user-search-base="ou=people"
                user-search-filter="uid={0}"
                user-context-mapper-ref="raveUserContextMapper"/>

        <security:authentication-provider
                user-service-ref="userService">
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>



    <bean id="raveUserContextMapper" class="org.apache.rave.portal.web.security.LdapUserDetailsContextMapper" >
        <constructor-arg name="userService" ref="userService"/>
        <constructor-arg name="newAccountService" ref="defaultNewAccountService"/>
        <constructor-arg name="mailAttributeName" value="mail"/>
        <constructor-arg name="displayNameAttributeName" value="displayName"/>
        <constructor-arg name="pageLayoutCode" value="columns_3"/>
    </bean>
    
    <bean id="openIdAuthFailureHandler" class="org.apache.rave.portal.web.controller.handler.OpenIDAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/login?authfail=openid"/>
    </bean>
    

    <!-- enable the spring security annotations -->
    <security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled">
        <security:expression-handler ref="expressionHandler"/>
    </security:global-method-security>

    <!-- override the default permissionEvaluator bean used by Spring Security with our custom RavePermissionEvaluator -->
    <bean id="expressionHandler" class="org.apache.rave.portal.security.impl.RaveMethodSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="ravePermissionEvaluator" />
    </bean>
</beans>
