<div ng-include="hostedPath+'/static/html/common/partials/navbar.html'"></div>

<div class="row-fluid" id="pageContent">
    <div ng-include="hostedPath+'/static/html/portal/tabs.html'"></div>
</div>

<div class="widget-wrapper" register-view="home">
    <div class="widget-title-bar widget-title-bar-draggable" ng-controller="WidgetController">
        <div class="widget-toolbar-toggle-collapse" title="Collapse/Restore Widget">
            <i ng-class="{'icon-chevron-down':!regionWidget.collapsed, 'icon-chevron-up':regionWidget.collapsed}"
               ng-click="toggleCollapse()"></i>
        </div>
        <div class="widget-title">
            {{regionWidget.widgetUrl}}
        </div>
        <div class="widget-toolbar ">
            <div class="dropdown widget-menu-wrapper" style="">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-cog"></i>
                </a>
                <ul class="dropdown-menu widget-menu">
                    <li ng-class="{'menu-item-disabled':menu.editPrefs.disable}">
                        <a ng-click="togglePrefs()">
                            Edit Preferences
                        </a>
                    </li>
                    <li>
                        <a ng-click="maximize()">
                            Maximize
                        </a>
                    </li>
                    <li ng-class="{'menu-item-disabled':menu.move.disable}">
                        <a ng-click="moveToPage()">
                            Move to Page
                        </a>
                    </li>
                    <li>
                        <a ng-click="delete()">
                            Delete Widget
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a>
                            About this Widget
                        </a>
                    </li>
                    <li>
                        <a>
                            Comment on this Widget
                        </a>
                    </li>
                    <li>
                        <a>
                            Rate this Widget
                        </a>
                    </li>
                </ul>
            </div>
<span class="widget-toolbar-btn widget-toolbar-btn-min">
<i class="icon-resize-small"></i>
</span>
        </div>
    </div>

    <div class="widget-prefs" ng-show="showPrefs">
        <form class="form-horizontal" ng-submit="savePrefs()">
            <div class="control-group" ng-repeat="pref in regionWidgetPrefs" ng-hide="pref.dataType=='HIDDEN'">
                <label class="control-label"
                       for="{{regionWidget.id}}-{{pref.name}}">{{pref.displayName}}</label>

                <div class="controls" ng-switch="pref.dataType">
                    <div ng-switch-when="STRING">
                        <input type="text" id="{{regionWidget.id}}-{{pref.name}}" ng-model="pref.value">
                    </div>
                    <div ng-switch-when="BOOL">
                        <input type="checkbox" id="{{regionWidget.id}}-{{pref.name}}" ng-model="pref.value">
                    </div>
                    <div ng-switch-when="ENUM">
                        <select id="{{regionWidget.id}}-{{pref.name}}" ng-model="pref.value"
                                ng-options="o.value as o.displayValue for o in pref.orderedEnumValues"></select>
                    </div>
                    <div ng-switch-when="LIST">
                        <textarea type="text" id="{{regionWidget.id}}-{{pref.name}}" ng-model="pref.value">
                        </textarea>
                    </div>
                    <div ng-switch-when="hidden">
                        <input type="hidden" ng-model="pref.value">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" ng-click="togglePrefs()" class="btn">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
    <div class="widget" ng-hide="regionWidget.collapsed">
        <div rave-render-widget="regionWidget"></div>
    </div>
</div>