<div ng-controller="PortalController">
    <nav>
        <ul class="nav nav-tabs">
            <li ng-repeat="page in pages" ng-class="{active:page.id == selectedPageId, dropdown:page.id == selectedPageId}"
                    ng-include=" page.id == selectedPageId && 'currentTab'|| 'otherTab' ">
            </li>

            <script type="text/ng-template" id="currentTab">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{page.name}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class=""><a href="#">Edit Page</a></li>
                    <li class=""><a href="#">Delete Page</a></li>
                    <li class=""><a href="#">Move Page</a></li>
                    <li class="hidden"><a href="#">Export Page</a></li>
                    <li class=""><a href="#sharePageDialog" data-toggle="modal">Share Page</a></li>
                    <li class="menu-item-disabled"><a href="#">Remove share</a></li>
                </ul>
            </script>

            <script type="text/ng-template" id="otherTab">
                <a href="{{page.id}}">
                    {{page.name}}
                </a>
            </script>

            <li id="addPageButton"><a href="#"><i class="icon-plus"></i></a></li>
        </ul>
    </nav>
    <div class="row-fluid">
        <div class="tab-content" ng-show="selectedPageId == page.id" ng-repeat="page in pages">
            <div ng-repeat="(regionIndex, region) in page.regions" ng-class="page.pageLayoutCode+'_'+regionIndex" class="region regionNonDragging">
                <div ng-repeat="regionWidget in region.regionWidgets">
                    <div class="widget-wrapper" ng-controller="WidgetController" ng-init="init(regionWidget.id)">
                        <div class="widget-title-bar widget-title-bar-draggable">
                            <div class="widget-toolbar-toggle-collapse" title="Collapse/Restore Widget">
                                <i ng-class="{'icon-chevron-down':!regionWidget.collapsed, 'icon-chevron-up':regionWidget.collapsed}" ng-click="toggleCollapse()"></i>
                            </div>
                            <div class="widget-title">
                                {{regionWidget.widgetUrl}}
                            </div>
                            <div class="widget-toolbar ">
                                <div class="dropdown widget-menu-wrapper" style="">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-cog"></i>
                                    </a>
                                    <ul class="dropdown-menu widget-menu">
                                        <li class="">
                                            <a ng-click="showPrefs=true">
                                                Edit Preferences
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Maximize
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Move to Page
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Delete Widget
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">
                                                About this Widget
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Comment on this Widget
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Rate this Widget
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            <span class="widget-toolbar-btn widget-toolbar-btn-min">
                                <i class="icon-resize-small"></i>
                            </span>
                            </div>
                        </div>

                        <div class="widget-prefs" ng-show="showPrefs">Edit Prefs Pane</div>
                        <div class="widget" render-widget="regionWidget.id" ng-hide="regionWidget.collapsed">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>