<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand"><span ng-show="user.username">Hello {{user.username}}. </span>Welcome to Rave!</a>
            <ul class="nav pull-right">
                <li ng-show="user.username"><a href="/portal/app/person/id/1">{{user.username}}'s Profile</a>
                </li>
                <li ng-show="user.username"><a href="/portal/app/store">Widget Store</a></li>
                <li ng-show="user.admin"><a href="/portal/app/admin">Admin Interface</a></li>
                <li ng-show="user.username"><a ng-click="logout()" href="#">Logout</a></li>
                <li ng-hide="user.username"><a ng-click="login()" href="#">Login/Register</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo-wrapper"></div>
<div id="pageContent" class="container-fluid" ng-include="templateUrl">
</div>

<div rave-register-view="dialog" dialog class="modal fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
    </div>
    <div class="modal-body">
        <div rave-render-widget></div>
    </div>
</div>

<div rave-register-view="modal_dialog" dialog="{keyboard: false, backdrop: 'static'}" class="modal fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
    </div>
    <div class="modal-body">
        <div rave-render-widget></div>
    </div>
</div>

<div rave-register-view="sidebar" >
    <div class="no-scroll">
        <div class="modal-backdrop fade in" ng-show="show"></div>
        <div class="popup slideout" ng-class="{'shown':show}">
            <a class="close" ng-click="show=false">&times;</a>

            <div rave-render-widget class="slideout-content">
            </div>
        </div>
    </div>
</div>

