<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand"><span ng-show="user.username">Hello {{user.username}}. </span>Welcome to Rave!</a>
            <ul class="nav pull-right">
                <li ng-show="user.username"><a href="/portal/app/person/id/1">{{user.username}}'s Profile</a>
                </li>
                <li ng-show="user.username"><a href="/portal/app/store">Widget Store</a></li>
                <li ng-show="user.admin"><a href="/portal/app/admin">Admin Interface</a></li>
                <li ng-show="user.username"><a ng-click="logout()" href="#">Logout</a></li>
                <li ng-hide="user.username"><a ng-click="login()" href="#">Login/Register</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo-wrapper"></div>
<div id="pageContent" class="container-fluid" ng-include="templateUrl">
</div>

<div rave-modal>
    <div class="popup modal_dialog modal fade">
        <a href="#" class="close" data-dismiss="modal">&times;</a>

        <div class="site"></div>
    </div>
</div>

<div rave-dialog>
    <div class="popup dialog modal fade">
        <a href="#" class="close" data-dismiss="modal">&times;</a>

        <div class="site"></div>
    </div>
</div>

<div rave-sidebar>
    <div class="popup slideout">
        <a href="#" class="close">&times;</a>

        <div class="slideout-content site">
        </div>
    </div>
</div>

<div rave-canvas>
    <div class="widget-wrapper-canvas" id="widget-4-wrapper">
        <div class="widget-title-bar">

            <div class="widget-title">


                Gadget View Type


            </div>


            <div class="widget-toolbar ">
                <div class="dropdown widget-menu-wrapper" style="display: none;">

                <span id="widget-4-min" class="widget-toolbar-btn widget-toolbar-btn-min" style="display: inline;">
                    <i class="icon-resize-small"></i>
                </span>
                </div>


            </div>
            <div class="site"></div>
        </div>
    </div>
</div>
